# Ignora dependencias
**/node_modules/

# Ignora archivos compilados
**/dist/

# Ignora variables de entorno
**/.env
**/.env.local
**/.env.production
**/.env.test
**/.env.example
# Ignora logs
**/logs/*.log
npm-debug.log*
# Firebase credentials
src/config/serviceAccountKey.json